<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="mastbit.exchange.scripts.TC3_WalletsHistory"/>
      <class name="mastbit.exchange.scripts.TC13_ForgotPassword"/>
      <class name="mastbit.exchange.scripts.TC12_Graph"/>
      <class name="mastbit.exchange.scripts.TC4_ProfileWithKYC"/>
      <class name="mastbit.exchange.scripts.LoginForModules"/>
      <class name="mastbit.exchange.scripts.TC5_CreateTicket"/>
      <class name="mastbit.exchange.scripts.TC2_ProfileWithChangePassword"/>
      <class name="mastbit.exchange.scripts.TC10_YourOrderHistory"/>
      <class name="mastbit.exchange.scripts.TC11_Api"/>
      <class name="mastbit.exchange.scripts.TC9_Security"/>
      <class name="mastbit.exchange.scripts.TC8_WalletTransaction"/>
      <class name="mastbit.exchange.scripts.TC1_BasicFunctionalityCheck"/>
      <class name="mastbit.exchange.scripts.TC7_YourBrokerage"/>
      <class name="mastbit.exchange.scripts.TC6_ProfileWithLevels"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
